<p>
  <button (click)="isVisible = !isVisible" [innerText]="isVisible ? 'Скрыть' : 'Показать'"></button>
</p>

<ng-container *ngIf="isVisible">
  Message only if isVisible === true
  <br><br>
</ng-container>

<hr>

<ng-container *ngIf="isVisible">
  <app-user-profile
    *ngFor="let user of users$ | async; trackBy: trackByFunction"
    [id]="user.id"
    [name]="user.name"
    [lastname]="user.lastname"
    [age]="user.age"
    [avatarUrl]="user.avatarUrl"
    (click)="handleProfileClick(user.id)">
  </app-user-profile>
</ng-container>
