<p>
  {{ title }}
</p>

<p>
  <button (click)="isVisible = !isVisible" [innerText]="isVisible ? 'Скрыть' : 'Показать'"></button>
</p>

<br><br>

<app-user-profile
  *ngIf="isVisible"
  [name]="userName"
  (nameChange)="userName = $event"

  [(lastname)]="userLastname"

  [(age)]="userAge"
  [avatarUrl]="userAvatarUrl"
  (profileClick)="handleProfileClick($event)"
></app-user-profile>

<button (click)="userAge = 10; userName = 'Jack'">CLICK</button>

{{ userName }} {{ userLastname }} {{ userAge }}
